/* just UPDATE ALREADY */
nav{
    text-decoration: none;   
    color: black; 
}
body{
    background-image: url(assets/Placehold6.jpg);
    background-size: 100%;
    color: white;
    overflow-y: hidden;
    width:auto;
    min-height:auto;
}
.thank{
    display:none;
}
.thango{
  width: 30%;
}
.langs{
    width: 45%;
    margin: 0% 27.5%;
}
.proj,.skills, .contact, .about, .future{
    margin: 5% 0% 2% 0%;
    text-align: center;
}
h2, h1{
    text-align: center;
}
li{
    text-decoration: none;
}
.project{
    margin:0% 0% 2% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proj{
    margin:5% 0% 0% 0%;
}
.container{
    margin:0% 5%;
}
.odin{
    width:60%;
}
.navbar-con{
    display: flex;
    justify-content: space-around;
    margin: 4% 0% 0% 0%;
}
.navbar-con2{
    display: flex;
    justify-content: space-around;
    margin: -1% 0% 0% -3%;
    padding: 0% 0% 0% 0%;
    position: relative;
}
.navbar-con4{
    display: flex;
    justify-content: space-around;
    margin: 8.5% 0% 0% 0%;
}
.navbar-con5{
    display: flex;
    justify-content: space-around;
    margin: 5.5% 0% 0% 0%;
}
.three6zero{
    width: 10%;
    margin: 0% 27.5%;
}
.collage{
    width: 20%;
}
.me{
    height: 40%;
}
.info{
    margin:0% 10% 6.5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 115%;
    border-radius: 0.5%;
    border-color: #0CC0DF;
    background-color: #5ae7ff;
}
.about{
    position: absolute;
}
a{
    text-decoration: none;
}
.future{
    margin: 3% 0% .5% 3%;
    font-size: 5%;
}
.about{
    margin: 3.75% 0% 2% 0%;
}
.submit{
    border-radius: 0%;
    border-color: white;
    background-color: white;
margin: 0.3% 0% 0%;}
.thango .odin{
    height: 10%;
}
.name{
    margin-bottom: 0%;
}
#images{
    margin: 0% 3%;
}
.skills{
    font-size: 5%;
}
